@model AgendaApp.MVC.Models.Tarefas.TarefasCadastroViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3>Cadastro de tarefas</h3>
<p>Preencha o formulário para incluir uma tarefa.</p>
<hr />

<div class="text-danger">
    @Html.ValidationSummary()
</div>

<div class="mb-3">
    <h4 class="text-success">@TempData["MensagemSucesso"]</h4>
    <h4 class="text-danger">@TempData["MensagemErro"]</h4>
</div>

@using (Html.BeginForm())
{
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Nome da tarefa:</label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label>Data e hora da tarefa:</label>
            @Html.TextBoxFor(model => model.DataHora, new { @class = "form-control", @type = "datetime-local" })
        </div>
        <div class="col-md-3">
            <label>Prioridade da tarefa:</label>
            <div>
                @Html.RadioButtonFor(model => model.Prioridade, "1") <span>Prioridade Alta</span>
            </div>
            <div>
                @Html.RadioButtonFor(model => model.Prioridade, "2") <span>Prioridade Média</span>
            </div>
            <div>
                @Html.RadioButtonFor(model => model.Prioridade, "3") <span>Prioridade Baixa</span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Realizar Cadastro" />
        </div>
    </div>
}


